{% extends "base.html" %}
{% block content %}

<div class="page-section">
  <div class="page-card page-card-narrow">

    <h1>Impressum</h1>

    <p>
      Relovo MVP<br>
      {{ _("Регистрация компании в процессе") }}<br>
      {{ _("Германия") }}
    </p>

    <p>
      {{ _("Представлено") }}:<br>
      {{ _("Имя будет добавлено после регистрации") }}
    </p>

    <p>
      E-Mail: relovo.info@gmail.com
    </p>

    <p>
      {{ _("Запись в торговом реестре будет добавлена после регистрации") }}
    </p>

  </div>
</div>

{% endblock %}
